// Put your custom SCSS variables here
// $primary: #27b7bd;
$primary: #118186;
$secondary: #71b944;
$primary-color-dark: #27b7bd;

$link-color-dark: #59d6dc;
$navbar-dark-hover-color: #59d6dc;
$navbar-dark-active-color: #27b7bd;
$button-color-dark: #27b7bd;
$sl-color-text-accent: #59d6dc;
